* {
    margin: 0;               /* sets the margin 0 for all elements */
    padding: 0;              /* sets the padding 0 for all elements */
    box-sizing: border-box;  /* element size stays as decided, even after adding padding ecc. Prevents "overflowing" */
}

.header > * {
    flex-shrink: 0;  /* prevents items from shrinking below width */
}


.header {
    position: sticky;
    display: flex;
    width: 100%;
    height: 10%;
    flex-direction: row;
    position: relative;                   /* reference point for absolutely positioned elements */


}

.burger-menu {
    width: 15%;
    background-color: pink;

}

.book-button {
    display: flex;               /* make the button a flex container */
    justify-content: center;     /* horizontal centering */
    align-items: center;         /* vertical centering */
    height: 100%;                /* fill header height if needed */
}


.info-header {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.contact-button {
    width: auto;
}

.flags {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    margin-top: 1vh;
    margin-right: 1vh;
}

.flag {
    width: 33.3%;
    height: auto;
    border-radius: 3px;
}