* {
    margin: 0;               /* sets the margin 0 for all elements */
    padding: 0;              /* sets the padding 0 for all elements */
    box-sizing: border-box;  /* element size stays as decided, even after adding padding ecc. Prevents "overflowing" */
}

/*
   -------- INDEX FILE ---------
*/   

.index_body {
    background-color: #ffffff;
    /* font family: */
    margin: 0;        /* outer white space */
    padding: 0px;     /* inner white space(within containers) */
}
.top-bar {
    background-color: #e7cda5;          /* selects background color for given section */
    display: grid;
    align-items: center;                  /* aligns vertically center */
    padding: 10px 20px;                   /* inner spacing inside the container */
    position: relative;                   /* reference point for absolutely positioned elements */
    grid-template-columns: 1fr auto 1fr;  /*  */
}

.contact-header {
    justify-self: start;
    padding-left: 30px;
}

.logo {
    display: block;       /* block element */
    margin: 0 auto;       /* center horizontally */
    width: 100px;         /* length */
    height: auto;         /* proportional height */
    justify-self: center;
}

.flag {
    width: 20px;     /* length */
    height: auto;    /* proportional height */
}

.flags {
    align-self: start;
    display: flex;              /* puts images in row */
    gap: 8px;                   /* gap between flags */
    justify-self: end;
    padding-top: 8px;
}

.header-prompts {
    background-color:limegreen;
    display: flex;
    height: 35px;
    gap: 10rem;        /* relativ to the screen, works on all devices */
    justify-content: center;
    align-items: center;    
}

.header-prompts a {
    text-decoration: none;    /* removes underlines in nav text */
    color: black;           /* could be changed later */
}

.header-prompts a:hover {
    color:maroon
}
