.flag {
    width: 30px;  /* length */
    height: auto; /*proportional height */
}

.flags {
    display: flex;              /* puts immages in row */
    gap: 8px;                   /*gap between flags */
    justify-content: flex-end;  /*moves the flags on the right */
    align-items: center;        /* aligns flags vertically */
}