* {
    margin: 0;               /* sets the margin 0 for all elements */
    padding: 0;              /* sets the padding 0 for all elements */
    box-sizing: border-box;  /* element size stays as decided, even after adding padding ecc. Prevents "overflowing" */
}


/* 
--------- HEADER --------
 */
.header > * {
    flex-shrink: 0;  /* prevents items from shrinking below width */
}

.header {
    position: sticky;
    display: flex;
    width: 100%;
    height: 7vh;
    flex-direction: row;
}

.burger-menu-container {
    display: flex;
    justify-content: center;
    width: 20vw;
    background-color: rgb(49, 192, 123);
    overflow: hidden;
}
.burger-menu-item {
    background-color: rgb(49, 192, 123);
    width: 13vw;
    align-self: center;
}

.book-button {
    display: flex;               /* make the button a flex container */
    justify-content: center;     /* horizontal centering */
    align-items: center;         /* vertical centering */
    text-decoration: none;
    height: 100%;                /* fill header height if needed */
    background-color: rgb(201, 170, 47);
    font-size: 1.5em;
    padding-left: 6vw;
    padding-right: 6vw;
}


.info-header {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-left: auto; 
    align-items: flex-start;
    padding-top: 1vh;
    padding-right: 4vw;
    padding-left: 18vw;
}

.contact-button {
    width: 8vw;
    margin-right: 2vw;
}

.flags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1vh;
}

.flag {
    width: 6vw;
    height: auto;
    border-radius: 20px;
}

/*
-----------INDEX-GALLERY----------
*/
.gallery-interface {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.gallery-logo {
    position: absolute;
    margin-top: 20px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
}

.gallery-logo img {
    width: 22vw;
    height: auto;
}

.gallery-images {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-images img {
    position: absolute;
    display: none;
}

.gallery-images img.active {
    display: block;
    width: 100%;
    height: 100%;
}

.gallery-menu {
    display: flex;
    z-index: 10;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: aliceblue;
}

.prev-picture, .next-picture {
    
}
/*
--------INDEX TEXT--------
*/


/*
--------RATING CONTAINER-------
*/
.rating-container {
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-top: 15vh;
    margin-bottom: 5vh;
}
.rating-container a {   /* a is inline by default!! */
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.rating-block {
    display:flex;
    flex-direction: column;
}

.rating-logo {
    width: 8vh;      /* fixed box width */
    height: 8vh;     /* fixed box height */
    object-fit: cover; /* scales image to fit inside box without distortion */

}

.rating-score {
    color: black;
    margin-top: 2vh;
    font-size: large;
}

