* {
    margin: 0;               /* sets the margin 0 for all elements */
    padding: 0;              /* sets the padding 0 for all elements */
    box-sizing: border-box;  /* element size stays as decided, even after adding padding ecc. Prevents "overflowing" */
}

.main {
    background-color: #f0ddc3;
    padding-top: 7vh;
}

/* 
--------- HEADER --------
 */
.header > * {
    flex-shrink: 0;  /* prevents items from shrinking below width */
}

.header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 7vh;
    flex-direction: row;
    background-color: rgb(139, 181, 198);
    z-index: 101;
    
}

.burger-menu-container {
    display: flex;
    justify-content: center;
    width: 20vw;
    overflow: hidden;
}
.burger-menu-item {
    width: 13vw;
    align-self: center;
}

.book-button {
    display: flex;               /* make the button a flex container */
    justify-content: center;     /* horizontal centering */
    align-items: center;         /* vertical centering */
    text-decoration: none;
    height: 100%;                /* fill header height if needed */
    font-size: 1em;
    padding-left: 6vw;
    padding-right: 6vw;
    color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}


.info-header {
    display: flex;
    margin-left: auto; 
    align-items: flex-start;
    padding-top: 1vh;
    padding-right: 2vw;
}

.contact-button {
    width: 7vw;
    margin-right: 3vw;
}    

.flags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.8vh;
}

.flag {
    width: 6vw;
    height: auto;
    border-radius: 20px;
}

/*
-----------INDEX-GALLERY----------
*/
.gallery-interface {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.gallery-logo {
    position: absolute;
    margin-top: 20px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
}

.gallery-logo img {
    width: 22vw;
    height: auto;
    border-radius: 20px;

}

.gallery-images {
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
}

.gallery-images img {
    display: block;
    display: none;
}

.gallery-images img.active {
    display: block;
    width: 100%;
    height: auto;
}

.gallery-menu-index {
    position: absolute; 
    bottom: 0; /* sticks to bottom of image */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding-bottom: 1vh; /* spacing from image bottom */
    z-index: 100;
    gap: 2vw;
}

.prev-picture, .next-picture {
    color: rgb(255, 255, 255);
    background: none;
    border-radius: 10px;
}
/*
--------INDEX TEXT--------
*/

.benvenuti h2,
.vivere-il-borgo h2,
.ratings h2 {
    justify-self: center;
    margin-bottom: 1vh;
}

.benvenuti ,
.vivere-il-borgo,
.ratings {


    line-height: 1.6;

    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.benvenuti p,
.vivere-il-borgo p,
.ratings p {
    text-align: center;
}

/*
--------RATING CONTAINER-------
*/
.rating-container {
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-top: 4vh;
    margin-bottom: 5vh;
}
.rating-container a {   /* a is inline by default!! */
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-block {
    display:flex;
    flex-direction: column;
}

.rating-logo {
    width: 15vh;      /* fixed box width */
    height: 15vh;     /* fixed box height */
    object-fit: cover; /* scales image to fit inside box without distortion */
    margin-bottom: 3vh;
}

.rating-value-google {
    margin-top: 2vh;
    width: 18vh;
}


.rating-value-booking {
    width: 7vh;
}

/* 
------FOOTER-INDEX--------
*/
.footer {
    background-color: rgb(139, 181, 198);
    display: flex;
    flex-direction: column;
}

.contact-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
}

.telephone-footer,
.email-footer,
.position-footer {
    display: flex;
    flex-direction: row;
    gap: 2vh;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
}
.position-footer a {
    text-decoration: none;
    color:black;
}

.phone-icon {
    width: 7vh;
}

.email-icon {
    width: 5vh;
}

.position-icon {
    width: 7vh;
}

.logo-footer-container {
    display: flex;
    justify-content: center;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.logo-footer-img {
    width: 15vh;
    border-radius: 10px;
}

.copyright{
    margin-bottom: 5vh;
    text-align: center;
}


/*
------------------------------------------------------------------
-----------------ROOMS-FILE---------------------------------------
------------------------------------------------------------------
*/

.main-rooms h2 {
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 1vh;
}

.main-rooms {
    background-color: #f0ddc3;
    padding-top: 7vh;
}
.main-rooms p {
    padding: 0vh 3vh 8vh 3vh ;   /* top, right, bottom, left*/
    text-align: center;
    line-height: 1.6;
}


/*
------------------INFORMATION-BLOCK------------------------
*/
.main-rooms .important-infos {
    margin: 0vh 0vh 2.5vh 1.5vh;
    text-decoration: underline;

}

.main-rooms .info-list {
    padding-left: 9vw;
    margin: 2vh 2vh 2vh 0vh
}

.info-list li {
    padding-bottom: 3vh;
}


/*
------------------ROOM-GALLERY-INTERFACE------------------------
*/

.room-interface {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 12vh;
}
.room-interface h3 {
    text-align: center;
    margin-bottom: 2vh;
}

.room-gallery {
    display: block;
    position: relative;
    overflow: hidden;

}
.room-gallery > img {
    display: none;
}

img.active-rooms {
    display: block;
    width: 100%;
    height: auto;
}

.gallery-menu-rooms {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 95%;
    z-index: 100;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.gallery-menu-rooms span {
    transform: scaleY(4);
    color: white;
}

.people-amount {
    display: flex;
    z-index: 10;
    position: absolute;
    bottom: 8%;
    left: 5%;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 0.2vh 0.4vh 0.2vh 0.4vh;

}

.people-amount > img {
    width: 4vw;
    height: auto;
    margin-right: 2vw;
}

.square-meters {
    position: absolute;
    z-index: 10;
    bottom: 2%;
    left: 5%;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 0.3vh 0.4vh 0vh 0.4vh;

}
.square-meters img {
    width: 4vw;
    margin-right: 1vw;;
}

/*
------------------ROOM-DETAILS------------------------
*/

.room-summary {
    list-style: none;
    padding: 1vh 1vh 1vh 1vh;
}
.room-summary::after {
    content: ">";
    position: absolute;
    font-size: 1.2em;
    font-weight: bold;
    right: 2vw;
    transition: transform 0.3s;
}

details[open] .room-summary::after {
    transform: rotate(90deg);
}

.room-interface > details {
    border-bottom: 1px solid black;
}


.room-features {
    list-style: none;
    padding-left: 0;
    margin: 2vh 0;
}

.room-features li {
    position: relative;
    padding-left: 9vw;
    margin-bottom: 1.2vh;
    line-height: 1.4;
}

.room-features li.yes::before {
    content: "✔";
    position: absolute;
    left: 2vh;
    color: green;
    font-weight: bold;
}

.room-features li.no::before {
    content: "✖";
    position: absolute;
    left: 2vh;
    color: darkred;
    font-weight: bold;
}


/*
------------------------------------------------------------------
-----------------FAQ-FILE---------------------------------------
------------------------------------------------------------------
*/

.main-faq {
    background-color: #f0ddc3;
    padding-top: 7vh;
}

.main-faq h2 {
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.faq h3 {
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.faq-summary {
    list-style: none;
    cursor: pointer;
}

.faq-item p {
    font-style: italic;
}

.faq-item {
    padding: 1vh 1vh 1vh 1vh;
    margin-bottom: 2vh;
    border: 1px solid grey;
    border-radius: 8px;
}

.faq {
    padding: 1vh 1vh 1vh 1vh;
    
}

.faq-summary::after {
    content: ">";
    position: absolute;
    font-size: 1.2em;
    font-weight: bold;
    right: 7vw;
    transition: transform 0.3s;

}

details[open] .faq-summary::after {
    transform: rotate(90deg);
}



/*
------------------------------------------------------------------
-----------------PRICES-FILE---------------------------------------
------------------------------------------------------------------
*/

.main-prices h2 {
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.main-prices {
    background-color: #f0ddc3;
    padding-top: 7vh;
}
.main-prices p {
    padding: 0vh 3vh 2vh 3vh ;   /* top, right, bottom, left*/
    text-align: center;
    line-height: 1.6;
}

.main-prices .separator {
    position: absolute;
    justify-content: center;
    border-top: 2px solid rgb(45, 111, 155);
    width: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.main-prices h3 {
    text-align: center;
    
}

.top-h3 {
    margin-top: 15vh;
}

.season-dates {
    display: block;
    text-align: center;
    font-size: small;
}

.animal-container {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 2vw;
    padding: 0vh 2vw 14vh 2vw;
}

.animal-text {
    font-size: small;
}

/*
------------------PRICES-TABLES------------------------
*/

.prices-table {
    border-collapse: collapse; /* mandatory */
    margin: 1vh 1vh 1vh 1vh;
    width: 95%;
}

.prices-table, .prices-table th, .prices-table td {
    border: 1px solid black;
    padding: 1vh;
    text-align: center;
}

.prices-table th.corner {
    border-top: 0;
    border-left: 0;
}
